
.counter-container{
    background-color: rgb(29, 228, 135);
    height: 180px;
    width: 400px;
    margin-top: -200px;
    border-radius: 15px;
    margin-left: 300px;
}

.counter-container h1{
    color: white;
    text-align: center;
}

.count-container{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.increment{
     height: 40px;
     width: 110px;
     border-radius: 10px;
     background-color: blue;
     color: #fff;
}

.decrement{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    
}




